# Disable Samsung anti-root stuffs
CONFIG_UH=n
CONFIG_SECURITY_DEFEX=n
CONFIG_PROCA=n
CONFIG_FIVE=n

# SukiSU Ultra (KernelSU)
CONFIG_KPROBES=y
CONFIG_KSU=y
CONFIG_KSU_DEBUG=n
CONFIG_KSU_MANUAL_SU=y
CONFIG_KPM=n

# SUSFS (for KernelSU)
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_PATH=n
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_KSU_SUSFS_SUS_MAP=y

# MTK BT and WLAN DRIVERS
CONFIG_MTK_BT_DRV_EXTERNAL=y
CONFIG_WLAN_DRV_MODULE=y
