CONFIG_KNOX_KAP=n
CONFIG_KNOX_KAP_NGKSM=n
CONFIG_NGKPAD=n
CONFIG_RKP=n
CONFIG_RKP_KDP=n
CONFIG_UH=n
CONFIG_UH_RKP=n
CONFIG_TIMA=n
CONFIG_TIMA_RKP=n
CONFIG_SAMSUNG_SECURITY=n
CONFIG_PROCA=n
CONFIG_FIVE=n
CONFIG_FIVE_PA_FEATURE=n
CONFIG_SAMSUNG_PRODUCT_SHIP=y
CONFIG_LTO_NONE=y
CONFIG_LTO_CLANG=n
CONFIG_THINLTO=n
